@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

.dark {
  @apply bg-neutral-900;
}


.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ajusta el z-index según sea necesario */
  /* Otros estilos como altura, relleno, bordes, etc. */
}